<!-- =========================
Contact
===========================-->
<section
  class="pb-14 md:pb-16 lg:pb-20 xl:pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32"
  aria-label="Contact Information and Form"
>
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- heading  -->
      <div class="max-w-[680px] mx-auto text-center space-y-3">
        <h2 data-ns-animate data-delay="0.2">Reach out to our support team for help.</h2>
        <p data-ns-animate data-delay="0.3">
          Whether you have a question, need technical assistance, or just want some guidance, our
          support team is here to help. We're available around the clock to provide quick and
          friendly support.
        </p>
      </div>

      <div
        class="flex lg:items-start flex-col justify-center items-center gap-10 lg:flex-row lg:gap-8 xl:gap-[70px]"
      >
        <!-- contact info cards  -->
        <div data-ns-animate data-delay="0.4" class="flex flex-col gap-8 md:flex-row lg:flex-col">
          <!-- contact info one  -->
          <div
            class="bg-secondary dark:bg-background-6 rounded-[20px] p-11 space-y-6 w-full md:max-w-[371px] text-center relative overflow-hidden"
          >
            <!-- bg overlay  -->
            <figure
              class="absolute select-none pointer-events-none size-[350px] overflow-hidden top-[-187px] left-[174px] -rotate-[78deg]"
            >
              <img
                src="./images/ns-img-510.png"
                alt="Decorative gradient overlay"
                class="size-full object-cover"
              />
            </figure>
            <figure class="size-10 overflow-hidden mx-auto">
              <img
                src="./images/icons/home.svg"
                alt="Office location icon"
                class="size-full object-cover"
              />
            </figure>

            <div class="space-y-2.5">
              <p class="text-heading-6 text-accent">Our Address</p>
              <p class="text-accent/60">Goregaon East Mumbai, India 400063</p>
            </div>
          </div>

          <!-- contact info two  -->
          <div
            class="card-item bg-secondary dark:bg-background-6 rounded-[20px] p-11 w-full md:max-w-[371px] text-center relative overflow-hidden"
          >
            <!-- bg overlay  -->
            <figure
              class="absolute size-[350px] select-none pointer-events-none overflow-hidden top-[-206px] left-[-36px] rotate-[62deg]"
            >
              <img
                src="./images/ns-img-509.png"
                alt="Decorative gradient overlay"
                class="size-full object-cover"
              />
            </figure>

            <div class="space-y-6">
              <figure class="size-10 overflow-hidden mx-auto">
                <img
                  src="./images/icons/mail-open.svg"
                  alt="Email icon"
                  class="size-full object-cover"
                />
              </figure>

              <div class="space-y-2.5">
                <p class="text-heading-6 text-accent">Email Us</p>
                <p class="text-accent/60">
                  <a href="mailto:contact@sehsaa.com">contact@sehsaa.com</a>
                </p>
              </div>
            </div>
          </div>

          <!-- contact info three  -->
          <div
            class="bg-secondary dark:bg-background-6 rounded-[20px] p-11 w-full md:max-w-[371px] text-center relative overflow-hidden"
          >
            <!-- bg-overlay  -->
            <figure
              class="size-[450px] top-[-264px] left-[-255px] absolute select-none pointer-events-none"
            >
              <img src="./images/ns-img-498.png" alt="Decorative gradient overlay" />
            </figure>

            <div class="space-y-6">
              <figure class="size-10 overflow-hidden mx-auto">
                <img
                  src="./images/icons/phone-right.svg"
                  alt="Phone icon"
                  class="size-full object-cover"
                />
              </figure>

              <div class="space-y-2.5">
                <p class="text-heading-6 text-accent">Call Us</p>
                <p class="text-accent/60">
                  <a href="tel:+919372521198">+91 9372521198</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- contact form  -->
        <div
          data-ns-animate
          data-delay="0.3"
          class="max-w-[847px] w-full mx-auto bg-white dark:bg-background-6 rounded-4xl p-6 md:p-8 lg:p-11"
        >
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/sehsaa/30min?hide_event_type_details=1" style="min-width:320px;height:800px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
          <!-- Calendly inline widget end -->
        </div>
      </div>
    </div>
  </div>
</section>
