<section class="pt-[20px] md:pt[50px] lg:pt-[70px]">
    <div class="main-container">
        <div class="relative overflow-hidden z-10 rounded-[25px] py-16 md:py-[100px] bg-gradient-to-b from-[#B3C3DA] to-[#93A5BE] space-y-[70px] flex flex-col items-center justify-center text-center">
            <!-- Case Studies  -->
            <div class="space-y-3">
                <h3 data-ns-animate="" data-delay="0.1" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">Case Studies</h3>
                <!--<p data-ns-animate data-delay="0.2">
                    NextSaaS is designed to serve a wide range of teams and industries. Whether you're
                    managing data, scaling operations, optimizing finances, or streamlining customer
                    experiences—NextSaaS is the platform that grows with you.
                </p>-->
            </div>

            <!-- operation cards  -->
            <div class="grid grid-cols-12 items-center justify-center gap-8 ml-18">
                <!-- card one  -->
                <div data-ns-animate="" data-delay="0.3" class="xl:w-[300px] w-full rounded-[20px] p-2 bg-white dark:bg-background-7 col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 relative overflow-hidden" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                    <!-- border img  -->
                    <figure class="absolute rotate-[82deg] size-[800px] overflow-hidden top-[-95%] left-[-85%] select-none pointer-events-none">
                        <img src="./images/ns-img-523.png" alt="border-img" class="size-full">
                    </figure>

                    <!-- card content  -->
                    <div class="p-8 space-y-6 relative z-10 bg-background-1 dark:bg-background-6 rounded-xl">
                        <div class="inline-block">
                            <span class="ns-shape-19 text-[52px] text-secondary dark:text-accent"></span>
                        </div>

                        <div class="space-y-1">
                            <h4 class="text-heading-5">BFSI On-Prem AI Analytics Platform</h4>
                            <p>Built a secure, on-prem AI analytics system enabling natural language queries over internal data. Reduced IT dependency by 80 percent and accelerated decision-making.</p>
                        </div>
                    </div>
                </div>

                <!-- card two  -->
                <div data-ns-animate="" data-delay="0.4" class="xl:w-[300px] w-full rounded-[20px] p-2 bg-white dark:bg-background-7 col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 relative overflow-hidden" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                    <!-- border img  -->
                    <figure class="absolute rotate-[82deg] size-[800px] overflow-hidden top-[-95%] left-[-85%] select-none pointer-events-none">
                        <img src="./images/ns-img-523.png" alt="border-img" class="size-full">
                    </figure>

                    <!-- card content  -->
                    <div class="p-8 space-y-6 relative z-10 bg-background-1 dark:bg-background-6 rounded-xl">
                        <div class="inline-block">
                            <span class="ns-shape-35 text-[52px] text-secondary dark:text-accent"></span>
                        </div>

                        <div class="space-y-1">
                            <h4 class="text-heading-5">Military Cadet Injury Tracking System</h4>
                            <p>Delivered an offline-capable, government-compliant injury tracking platform with role-based access, encryption, and historical analysis across multiple centers.</p>
                        </div>
                    </div>
                </div>

                <!-- card three  -->
                <div data-ns-animate="" data-delay="0.6" class="xl:w-[300px] w-full rounded-[20px] p-2 bg-white dark:bg-background-7 col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 relative overflow-hidden" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                    <!-- border img  -->
                    <figure class="absolute rotate-[82deg] size-[800px] overflow-hidden top-[-95%] left-[-85%] select-none pointer-events-none">
                        <img src="./images/ns-img-523.png" alt="border-img" class="size-full">
                    </figure>

                    <!-- card content  -->
                    <div class="p-8 space-y-6 relative z-10 bg-background-1 dark:bg-background-6 rounded-xl">
                        <div class="inline-block">
                            <span class="ns-shape-32 text-[52px] text-secondary dark:text-accent"></span>
                        </div>

                        <div class="space-y-1">
                            <h4 class="text-heading-5">RPA for Finance Operations</h4>
                            <p>Automated finance processes such as data entry and compliance reporting, reducing operational costs by 30 percent.</p>
                        </div>
                    </div>
                </div>

                <!-- card four  -->

                <div data-ns-animate="" data-delay="0.5" class="xl:w-[300px] w-full rounded-[20px] p-2 bg-white dark:bg-background-7 col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 relative overflow-hidden" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                    <!-- border img  -->
                    <figure class="absolute rotate-[82deg] size-[800px] overflow-hidden top-[-95%] left-[-85%] select-none pointer-events-none">
                        <img src="./images/ns-img-523.png" alt="border-img" class="size-full">
                    </figure>

                    <!-- card content  -->
                    <div class="p-8 space-y-6 relative z-10 bg-background-1 dark:bg-background-6 rounded-xl">
                        <div class="inline-block">
                            <span class="ns-shape-4 text-[52px] text-secondary dark:text-accent"></span>
                        </div>

                        <div class="space-y-1">
                            <h4 class="text-heading-5">Security Guard Board Digital Training System</h4>
                            <p>Developed a multilingual LMS with video training, assessments, VR integration, dashboards, and centralized monitoring across more than 50 centers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>