<!-- =========================
Footer v3
===========================-->
<footer
  class="footer footer-three bg-white dark:bg-background-8 {=$class} relative overflow-hidden"
>
  <div class="main-container">
    <!-- footer bg-img  -->

    <figure
      data-ns-animate
      data-delay="0.7"
      data-offset="100"
      data-direction="right"
      class="footer-gradient-visible absolute overflow-hidden hidden {=$bg-gradient-class}"
    >
      <img src="{=$bg-gradient-img}" alt="gradient-img" class="w-full h-full object-cover" />
    </figure>

    <div
      class="grid grid-cols-12 lg:gap-x-8 xl:gap-x-0 gap-x-0 gap-y-16 xl:pt-[100px] pt-16 pb-16 justify-between"
    >
      <div class="lg:col-span-4 col-span-12">
        <div data-ns-animate data-delay="0.3" class="xl:max-w-[306px]">
          <figure>
            <img src="./logo.png" class="dark:hidden" alt="NextSass" />
            <img src="./logo.png" class="hidden dark:block invert" alt="NextSass" />
          </figure>
          <div class="h-px w-full bg-gray-200 dark:bg-white mt-4"></div>
          <p class="mt-4 mb-7 text-secondary dark:text-accent">
            Your Enterprise & Government-Grade Digital Transformation Partner
          </p>
          <div class="flex items-center gap-3">
            <a href="/" class="footer-social-link">
              <span class="sr-only">Facebook</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="7"
                height="16"
                viewBox="0 0 7 16"
                fill="none"
              >
                <path
                  d="M2.25 15C2.25 15.4142 2.58579 15.75 3 15.75C3.41421 15.75 3.75 15.4142 3.75 15H2.25ZM3.75 7C3.75 6.58579 3.41421 6.25 3 6.25C2.58579 6.25 2.25 6.58579 2.25 7H3.75ZM6 1.75C6.41421 1.75 6.75 1.41421 6.75 1C6.75 0.585786 6.41421 0.25 6 0.25V1.75ZM3 4H2.25H3ZM2.25 7C2.25 7.41421 2.58579 7.75 3 7.75C3.41421 7.75 3.75 7.41421 3.75 7H2.25ZM3 6.25C2.58579 6.25 2.25 6.58579 2.25 7C2.25 7.41421 2.58579 7.75 3 7.75V6.25ZM5 7.75C5.41421 7.75 5.75 7.41421 5.75 7C5.75 6.58579 5.41421 6.25 5 6.25V7.75ZM3 7.75C3.41421 7.75 3.75 7.41421 3.75 7C3.75 6.58579 3.41421 6.25 3 6.25V7.75ZM1 6.25C0.585786 6.25 0.25 6.58579 0.25 7C0.25 7.41421 0.585786 7.75 1 7.75V6.25ZM3 15H3.75V7H3H2.25V15H3ZM6 1V0.25C3.92893 0.25 2.25 1.92893 2.25 4H3H3.75C3.75 2.75736 4.75736 1.75 6 1.75V1ZM3 4H2.25V7H3H3.75V4H3ZM3 7V7.75H5V7V6.25H3V7ZM3 7V6.25H1V7V7.75H3V7Z"
                  class="fill-secondary dark:fill-accent"
                />
              </svg>
            </a>
            <div class="h-5 w-px bg-stroke-1 dark:bg-stroke-8"></div>
            <a href="/" class="footer-social-link">
              <span class="sr-only">Instagram</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11 1H5C2.79086 1 1 2.79086 1 5V11C1 13.2091 2.79086 15 5 15H11C13.2091 15 15 13.2091 15 11V5C15 2.79086 13.2091 1 11 1Z"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8 11C6.34315 11 5 9.65685 5 8C5 6.34315 6.34315 5 8 5C9.65685 5 11 6.34315 11 8C11 8.79565 10.6839 9.55871 10.1213 10.1213C9.55871 10.6839 8.79565 11 8 11Z"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <rect
                  x="11"
                  y="5"
                  width="2"
                  height="2"
                  rx="1"
                  transform="rotate(-90 11 5)"
                  class="fill-secondary dark:fill-accent"
                />
                <rect
                  x="11.5"
                  y="4.5"
                  width="1"
                  height="1"
                  rx="0.5"
                  transform="rotate(-90 11.5 4.5)"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-linecap="round"
                />
              </svg>
            </a>
            <div class="h-5 w-px bg-stroke-1 dark:bg-stroke-8"></div>

            <a href="/" class="footer-social-link">
              <span class="sr-only">LinkedIn</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="11"
                viewBox="0 0 13 11"
                fill="none"
              >
                <path
                  d="M2.25 4C2.25 3.58579 1.91421 3.25 1.5 3.25C1.08579 3.25 0.75 3.58579 0.75 4H2.25ZM0.75 10C0.75 10.4142 1.08579 10.75 1.5 10.75C1.91421 10.75 2.25 10.4142 2.25 10H0.75ZM10.75 10C10.75 10.4142 11.0858 10.75 11.5 10.75C11.9142 10.75 12.25 10.4142 12.25 10H10.75ZM5.5 7H4.75H5.5ZM4.75 10C4.75 10.4142 5.08579 10.75 5.5 10.75C5.91421 10.75 6.25 10.4142 6.25 10H4.75ZM2.25 1C2.25 0.585786 1.91421 0.25 1.5 0.25C1.08579 0.25 0.75 0.585786 0.75 1H2.25ZM0.75 2C0.75 2.41421 1.08579 2.75 1.5 2.75C1.91421 2.75 2.25 2.41421 2.25 2H0.75ZM1.5 4H0.75V10H1.5H2.25V4H1.5ZM11.5 10H12.25V7H11.5H10.75V10H11.5ZM11.5 7H12.25C12.25 4.92893 10.5711 3.25 8.5 3.25V4V4.75C9.74264 4.75 10.75 5.75736 10.75 7H11.5ZM8.5 4V3.25C6.42893 3.25 4.75 4.92893 4.75 7H5.5H6.25C6.25 5.75736 7.25736 4.75 8.5 4.75V4ZM5.5 7H4.75V10H5.5H6.25V7H5.5ZM1.5 1H0.75V2H1.5H2.25V1H1.5Z"
                  class="fill-secondary dark:fill-accent"
                />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="lg:col-span-8 col-span-12 grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-10">
        <!-- Useful Links -->
        <div data-ns-animate data-delay="0.4">
          <h3 class="text-xl font-bold text-black dark:text-white mb-6">Useful Links</h3>
          <ul class="space-y-3">
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 Home
              </a>
            </li>
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 About us
              </a>
            </li>
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 Services
              </a>
            </li>
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 Terms of service
              </a>
            </li>
          </ul>
        </div>

        <!-- Our Services -->
        <div data-ns-animate data-delay="0.5">
          <h3 class="text-xl font-bold text-black dark:text-white mb-6">Our Services</h3>
          <ul class="space-y-3">
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 Web & Mobile Apps
              </a>
            </li>
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 IT Consulting & Support
              </a>
            </li>
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 IT Product Management
              </a>
            </li>
            <li>
              <a href="/" class="group flex items-center gap-2 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300">
                 Data Analytics Services
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pt-6 pb-[60px] text-center relative overflow-hidden">
      <div
        class="footer-divider absolute top-0 left-0 right-0 w-0 origin-center mx-auto h-px bg-stroke-2 dark:bg-accent/5"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-secondary dark:text-accent/60"
      >
        Copyright &copy;SEHSAA Solutions – smart application for modern business
      </p>
    </div>
  </div>
  
  <div class="{=$hide-theme-toggle}">
    <Component src="src/components/shared/theme-toggle.htm" />
  </div>
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
