<section class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]">
    <div class="main-container space-y-14">
        <div class="space-y-5 text-center mx-auto lg:text-left lg:mx-0">
            <span data-ns-animate="" data-delay="0.2" class="badge inline-block badge-primary-light" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">Process &amp; Methodology</span>
            <h2 data-ns-animate="" data-delay="0.3" class="lg:max-w-[396px]" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                From Idea to app store simplified
            </h2>
            <p data-ns-animate="" data-delay="0.5" class="lg:text-left" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">We follow agile execution with enterprise-level governance.</p>
        </div>
        <div class="flex flex-col md:flex-row items-center md:items-start lg:items-center gap-[62px]">
            <!-- step one  -->
            <div data-ns-animate="" data-delay="0.4" class="space-y-3 max-w-[408px] w-full" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <!-- progress bar  -->
                <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative">
                    <div class="progress-line w-[50%] bg-ns-cyan rounded-full h-full absolute left-0" style="width: 100%;"></div>
                </div>
                <!-- number -->
                <p class="text-tagline-2 text-primary-500">01</p>

                <!-- text  -->
                <div class="space-y-2">
                    <h2 class="text-heading-5">Requirement analysis and consultation</h2>
                    <!--<p class="max-w-[260px] w-full">
                        Start your application in minutes—no paperwork required.
                    </p>-->
                </div>
            </div>

            <!-- step two  -->
            <div data-ns-animate="" data-delay="0.5" class="space-y-3 max-w-[408px] md:w-full" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <!-- progress bar  -->
                <div class="relative w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full">
                    <div class="progress-line w-[0%] bg-ns-cyan rounded-full h-full absolute left-0" style="width: 100%;"></div>
                </div>
                <!-- number -->
                <p class="text-tagline-2 text-primary-500">02</p>

                <!-- text  -->
                <div class="space-y-2">
                    <h2 class="text-heading-5">Architecture and security design</h2>
                    <h2 class="text-heading-5">&nbsp;</h2>
                    <!--<p class="max-w-[260px] w-full">
                        Start your application in minutes—no paperwork required.
                    </p>-->
                </div>
            </div>

            <!-- step three  -->
            <div data-ns-animate="" data-delay="0.6" class="space-y-3 max-w-[408px] md:w-full" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <!-- progress bar  -->
                <div class="relative w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full">
                    <div class="progress-line w-[0%] bg-ns-cyan rounded-full h-full absolute left-0" style="width: 100%;"></div>
                </div>
                <!-- number -->
                <p class="text-tagline-2 text-primary-500">03</p>

                <!-- text  -->
                <div class="space-y-2">
                    <h2 class="text-heading-5">Development and system integration</h2>
                    <h2 class="text-heading-5">&nbsp;</h2>
                    <!--<p class="max-w-[260px] w-full">
                        Start your application in minutes—no paperwork required.
                    </p>-->
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center md:items-start lg:items-center gap-[62px]">

            <!-- step four  -->
            <div data-ns-animate="" data-delay="0.4" class="space-y-3 max-w-[408px] w-full" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <!-- progress bar  -->
                <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative">
                    <div class="progress-line w-[50%] bg-ns-cyan rounded-full h-full absolute left-0" style="width: 100%;"></div>
                </div>
                <!-- number -->
                <p class="text-tagline-2 text-primary-500">04</p>

                <!-- text  -->
                <div class="space-y-2">
                    <h2 class="text-heading-5">Testing and user acceptance</h2>
                    <!--<p class="max-w-[260px] w-full">
                        Start your application in minutes—no paperwork required.
                    </p>-->
                </div>
            </div>

            <!-- step five  -->
            <div data-ns-animate="" data-delay="0.5" class="space-y-3 max-w-[408px] md:w-full" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <!-- progress bar  -->
                <div class="relative w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full">
                    <div class="progress-line w-[0%] bg-ns-cyan rounded-full h-full absolute left-0" style="width: 100%;"></div>
                </div>
                <!-- number -->
                <p class="text-tagline-2 text-primary-500">05</p>

                <!-- text  -->
                <div class="space-y-2">
                    <h2 class="text-heading-5">Deployment and go-live</h2>
                    <!--<p class="max-w-[260px] w-full">
                        Start your application in minutes—no paperwork required.
                    </p>-->
                </div>
            </div>

            <!-- step six  -->
            <div data-ns-animate="" data-delay="0.6" class="space-y-3 max-w-[408px] md:w-full" style="opacity: 1; filter: blur(0px); translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <!-- progress bar  -->
                <div class="relative w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full">
                    <div class="progress-line w-[0%] bg-ns-cyan rounded-full h-full absolute left-0" style="width: 100%;"></div>
                </div>
                <!-- number -->
                <p class="text-tagline-2 text-primary-500">06</p>

                <!-- text  -->
                <div class="space-y-2">
                    <h2 class="text-heading-5">Ongoing support and maintenance</h2>
                    <!--<p class="max-w-[260px] w-full">
                        Start your application in minutes—no paperwork required.
                    </p>-->
                </div>
            </div>
        </div>
        
        
    </div>
</section>