<!--============================= 
What We Offer Services Section
=============================== -->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[200px]">
  <div
    data-ns-animate
    data-delay="0.1"
    class="max-w-[1440px] bg-background-3 dark:bg-background-7 rounded-[30px] py-20 md:py-[100px] mx-auto"
  >
    <div class="main-container">
      <div class="flex flex-col md:flex-row items-start gap-y-24 gap-x-[140px]">
        <div
          class="w-full lg:flex-1 lg:sticky lg:top-28 lg:max-w-full max-w-[520px] lg:mx-0 mx-auto text-center lg:text-left space-y-7 lg:space-y-14"
        >
          <span data-ns-animate data-delay="0.3" class="badge badge-primary-light mb-5">
            What we offer
          </span>
          <div class="space-y-2 md:max-w-[595px]">
            <h2 data-ns-animate data-delay="0.4">End-to-end app development services.</h2>
            <p data-ns-animate data-delay="0.5">
              Everything you need to launch, grow, and scale a successful app.
            </p>
          </div>
          <div data-ns-animate data-delay="0.6">
            <a
              href="./app-development-services.html"
              class="btn btn-white btn-lg lg:btn-xl w-[90%] md:w-auto mx-auto md:mx-0 dark:btn-transparent hover:btn-secondary dark:hover:btn-accent"
            >
              <span> Explore our services </span>
            </a>
          </div>
        </div>
        <div
          class="w-full lg:flex-1 stack-cards js-stack-cards lg:max-w-full md:max-w-[65%] max-w-[90%] lg:mx-0 mx-auto"
        >
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-34 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Custom Software Development.</h3>
              <p>We design and build software platforms tailored to specific business and operational requirements. All systems are scalable, secure, and easily integrable with existing infrastructure.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-38 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Web & Mobile Applications</h3>
              <p>Development of responsive web applications and mobile apps for iOS and Android, with a strong focus on usability, performance, and data security.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-35 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">AI &amp; Intelligent Systems</h3>
              <p>AI solutions including predictive analytics, natural language processing, document intelligence, and internal AI assistants built using RAG and LLM models, with full data control.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-17 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Data Analytics &amp; Dashboards</h3>
              <p>Data pipelines, analytics engines, and Power BI dashboards that provide real-time business insights and support data-driven decision-making.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-25 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Automation (RPA)</h3>
              <p>Automation of repetitive and rule-based processes to improve efficiency, reduce errors, and lower operational costs.</p>
            </div>
          </div>
                    <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-25 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Blockchain Solutions</h3>
              <p>Blockchain-based platforms for secure data tracking, supply chain transparency, smart contracts, and audit-ready systems.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-25 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Data Center & IT Infrastructure</h3>
              <p>Design and deployment of secure, scalable IT infrastructure including servers, storage, networks, and AI-ready hardware.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-25 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Health Services</h3>
              <p>Develop unified healthcare platforms that connect hospitals , planets , and labs for a seamless healthcare ecosystem.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
